<html>
<head>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Document</title>
</head>

<body>
    <section class="header">
        <nav>

            <div class="topnav">
                <div class="logo">
                    <a href="home.html">
                        <h1>Association Graine D'espoir</h1><img src="pctr/logo.jpg"></a>
                </div>
                <div class="nav">
                    <a href="/" id="one">Home</a>
                    <a href="/aboutUs" id="two">Goals</a>
                    <a href="/joinUs" id="three">Contact us</a></div>
                <div class="dropdown">
                    <a href="#" class="dropbtn">more
                     <i class="fa fa-caret-down"></i></a>
                    </button>
                    <div class="dropdown-content">
                        <a href="/aboutUs">About Us</a>
                        <a href="/events">Events</a>
                        <a href="/joinUs">Join Us</a>
                    </div>
                </div>
                <a href="#"><button id="btn">Donate</button></a>

            </div>
        </nav>
        <div class="write">
            <span id="un"></span>
            <span id="deux"></span>
            <span id="trois"></span>
            <span id="four"></span>
            <h1>About<span style="visibility: hidden;">'</span><span style="color:rgba(98, 47, 137, 1);">Graine D'espoir</span><span style="visibility: hidden;">'</span>Association</h1>
            <p>We're dedicated to building a future where humanity can prosper. And while the crisis is huge, we’re optimistic.</p>
        </div>
        <div class="pic">
            <img src="pctr/pic1.jpg" id="pop">
            <img src="pctr/pic3.jpg" id="pop2">
            <img src="pctr/pic8.jpg" id="pop3">
            <img src="pctr/vol3.jpg" id="pop4">
            <h2>Have a Glance at <br> Some Pictures of our <br> Activities</h2>
            <p>جمعية بذرة الخير و الامل جمعية شبانية تطوعية تاسست في 1 افريل 2018 بباب الزوار الجزائر على يد طلاب داخل الوطن و خارجها تغرس ثقافة وروح التطوع عند الشباب وتزرع الأمل في قلوب فاقديها عن طريق نشاطاتها المختلفة من في قلبه ذرة خير فليستغل الفرصة
                ويدخل معنا في عالم التطوع لغرس بذرته
            </p>
            <button id="botona">See Our Gallery</button>
            <img src="pctr/icons8-forward-button-30.png" id="me">
        </div>
        <section class="effort">
            <h2>Our efforts</h2>
            <div class="events">
                <h3>750</h3>
                <h4> Events completed </h4>
                </h3>
                <img src="pctr/icons8-today-100.png">
            </div>
            <div class="miao">
                <h3>9M +</h3>
                <h4>funds raised</h4>
                <img src="pctr/icons8-file-invoice-dollar-96.png">
            </div>
            <div class="vol">
                <h3>1,000</h3>
                <h4>registred voluteer</h4>
                <img src="pctr/icons8-people-carry-96.png">
            </div>
            <div class="trust">
                <h3>15,000</h3>
                <h4>donations</h4>
                <img src="pctr/icons8-trust-100.png">
            </div>
        </section>

        <div class="question">
            <h2>Frequently Asked Questions</h2>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <button class="accordion">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
                 Suspendisse Varius<span style="visibility: hidden;">------</span> 
                 <img src="pctr/icons8-down-button-100.png" id="lewla"></button>
            <div class="panel">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                     aliquip ex ea commodo consequat.</p>

            </div>
            <hr>
            <hr>
            <hr>

            <button class="accordion">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.
                 Suspendisse Varius<span style="visibility: hidden;">------</span>
                  <img src="pctr/icons8-down-button-100.png" id="tania"></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                     labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                     laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <hr>
            <hr>
            <hr>
            <button class="accordion">Lorem Ipsum Dolor Sit Amet,
                 Consectetur Adipiscing Elit. Suspendisse Varius<span style="visibility: hidden;">------</span> 
                 <img src="pctr/icons8-down-button-100.png" id="talta"></button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
        <section class="footer">
            <span></span>
            <font></font>
            <div id="walo"></div>
            <article class="walo2"></article>

            <div class="foot">
                <div class="premier">
                    <h3>Adress</h3>
                    <p>Queens Bulvd, 11103,New York, USA</p>
                </div>
                <div class="deuxieme">
                    <h3>Contact Us</h3>
                    <a href="#"><img src="pctr/email.png" id="mail"></a>
                    <p id="gmail">graine@gmail.com</p>
                    <a href="#"><img src="pctr/tlf.png" id="tel"></a>
                    <p id="tlf">0542762621</p>
                </div>
                <div class="troisieme">
                    <h3>Follow Us</h3>
                    <a href="#"><img src="pctr/instagram.png"></a>
                    <a href="#"><img src="pctr/youtube.png" id="you"></a>
                    <a href="#"><img src="pctr/facebook.png" id="fb"></a>
                    <a href="#"><img src="pctr/tik-tok.png" id="tik"></a>
                </div>
                <div class="quatrieme">
                    <h3>Navigation</h3>
                    <p>Queens Bulvd, 11103,New York, USA</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="last">
                <a href="#"><img src="pctr/logo.jpg"></a>
                <h1>Association Graine D’espoir جمعية بذرة الخير و الأمل</h1>
                <p>جمعية خيرية ذات طابع اجتماعي الهدف الأساسي مساعدة المحتاج</p>
            </div>
        </section>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        </script>
</body>

</html>