<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css link-->
    <link rel="stylesheet" href="aboutus.css">
    <!--normalize file-->
    <link rel="stylesheet" href="normalize.css">
    <!--font awesome-->
    <link rel="stylesheet" href="all.min.css">
    <!--google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--google font link popins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <!--Title-->
    <title>GALLERY Association Grand espoir</title>
</head>
<!--start header-->

<body>
        <header>
            <div class="container">
                <div class="image">
                    <img src="./imq/logo.jpg" alt="">
                </div>
                <h1>Association Grand D'espoir</h1>
                <div class="click">
                    <span><a href="/">Home</a></span>
                    <span><a href="/aboutUs">Goals</a></span>
                    <span><a href="/joinUs">contact</a></span>
                    <span class="link-more">more</span>
                </div>
                <span class="donate" href="">Donate</span>
                <i class="fa fas fa-bars toggle-menu none"></i>
            </div>
        </header>
    
    <!--end header-->

    <!--start text -->
    <div class="text">
        <h1>Association<span>Graine D’espoir</span>Association</h1>
        <p>We’re dedicated to building a future where humanity can prosper. And while <br> the crisis is huge, we’re optimistic.</p>

    </div>
    <!--end text-->
    <!--start our galllery-->
    <div class="our-gall">
        <div class="container">
            <div class="texto">
                <h2>Have a Glance at Some <span>Pictures</span>  of our <span>Activities</span></h2>
                <p>جمعية بذرة الخير و الامل جمعية شبانية تطوعية تاسست في 1 افريل 2018 بباب الزوار الجزائر على يد طلاب داخل
                    الوطن و خارجها
                    تغرس ثقافة وروح التطوع عند الشباب وتزرع الأمل في قلوب فاقديها عن طريق نشاطاتها المختلفة من في قلبه ذرة
                    خير فليستغل
                    الفرصة ويدخل معنا في عالم التطوع لغرس بذرته </p>
                    <button>See Our Gallery<i class="fa fa-sharp fa-regular fa fa-arrow-right"></i></button>
            </div>
            <div class="imgs">
                <div class="im">
                    <img class="first" src="./imq/Rectangle 85.png" alt="">
                    <img src="./imq/Rectangle 85.png" alt="">
                </div>
                <div class="im">
                    <img src="./imq/Rectangle 85.png" alt="">
                    <img src="./imq/Rectangle 85.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--end our galllery-->
    <!--start our effort-->
    <div class="our-eff">
        <div class="container">
            <h1>Our efforts</h1>
            <div class="boxess">
                <div class="box">
                    <p>750</p>
                    <h3>Events completed</h3>
                    <div class="butt1"><img src="./imq/Vector.png" alt=""></div>
                </div>
                <div class="box">
                    <p>9M +</p>
                    <h3>funds raised</h3>
                    <img src="./imq/Vector (1).png" alt="">
                </div>
                <div class="box">
                    <p>1,000</p>
                    <h3>registred voluteer</h3>
                    <img src="./imq/Vector (3).png" alt="">
                </div>
                <div class="box">
                    <p>15,000</p>
                    <h3>donations</h3>
                    <img src="./imq/Vector (4).png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--end our effort-->
    <!--start faq-->
    <div class="faq">
        <div class="container">
            <h1>Frequently Asked Questions</h1>
            <div class="qas">
                <div class="question">
                    <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius</h4>
                    <img class="butt" src="./imq/angle-down.png" alt="">
                </div>
                <div class="reponse ">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius Enim In Eros Elementum Tristique. Duis
                Cursus, Mi Quis Viverra Ornare, Eros Dolor Interdum Nulla, Ut Commodo Diam Libero Vitae Erat. Aenean Faucibus Nibh Et
                Justo Cursus Id Rutrum Lorem Imperdiet. Nunc Ut Sem Vitae Risus Tristique Posuere.</div>
            </div>
            <div class="qas">
                <div class="question">
                    <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius</h4>
                    <img class="butt" src="./imq/angle-down.png" alt="">
                </div>
                <div class="reponse">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius Enim In Eros
                    Elementum Tristique. Duis
                    Cursus, Mi Quis Viverra Ornare, Eros Dolor Interdum Nulla, Ut Commodo Diam Libero Vitae Erat. Aenean Faucibus
                    Nibh Et
                    Justo Cursus Id Rutrum Lorem Imperdiet. Nunc Ut Sem Vitae Risus Tristique Posuere.</div>
            </div>
            <div class="qas">
                <div class="question">
                    <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius</h4>
                    <img class="butt" src="./imq/angle-down.png" alt="">
                </div>
                <div class="reponse">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius Enim In Eros
                    Elementum Tristique. Duis
                    Cursus, Mi Quis Viverra Ornare, Eros Dolor Interdum Nulla, Ut Commodo Diam Libero Vitae Erat. Aenean Faucibus
                    Nibh Et
                    Justo Cursus Id Rutrum Lorem Imperdiet. Nunc Ut Sem Vitae Risus Tristique Posuere.</div>
            </div>
            <div class="qas">
                <div class="question">
                    <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius</h4>
                    <img class="butt" src="./imq/angle-down.png" alt="">
                </div>
                <div class="reponse">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius Enim In Eros
                    Elementum Tristique. Duis
                    Cursus, Mi Quis Viverra Ornare, Eros Dolor Interdum Nulla, Ut Commodo Diam Libero Vitae Erat. Aenean Faucibus
                    Nibh Et
                    Justo Cursus Id Rutrum Lorem Imperdiet. Nunc Ut Sem Vitae Risus Tristique Posuere.</div>
            </div>
            <div class="qas">
                <div class="question">
                    <h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius</h4>
                    <img class="butt" src="./imq/angle-down.png" alt="">
                </div>
                <div class="reponse">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Suspendisse Varius Enim In Eros
                    Elementum Tristique. Duis
                    Cursus, Mi Quis Viverra Ornare, Eros Dolor Interdum Nulla, Ut Commodo Diam Libero Vitae Erat. Aenean Faucibus
                    Nibh Et
                    Justo Cursus Id Rutrum Lorem Imperdiet. Nunc Ut Sem Vitae Risus Tristique Posuere.</div>
            </div>
        </div>
    </div>
    <!--end faq-->


    <!--start footer-->
    <footer>
        <div class="container">
            <div class="flex-one">
                <div>
                    <h3>Adress</h3>
                    <p>Queens Bulvd,<br> 11103, New York, <br> USA</p>
                </div>
                <div>
                    <h3>Contact us</h3>
                    <p><i class="fa fa-solid fa-envelope"></i>graine@gmail.com</p>
                    <p><i class="fa fa-solid fa-phone"></i>graine@gmail.com</p>
                </div>
                <div>
                    <h3>Follow Us</h3>
                    <div class="social">
                        <i class="fa fa-brands fa-instagram"></i>
                        <i class="fa fa-brands fa-youtube"></i>
                        <i class="fa fa-brands fa-facebook"></i>
                        <i class="fa fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div>
                    <h3>Naigation</h3>
                    <p>Queens Bulvd, <br> 11103,New York, <br> USA</p>
                </div>
            </div>
            <hr>
            <div class="flex-two">
                <div class="one">
                    <img src="./imq/logo.jpg" alt="">
                    <p>Association Graine D’espoir <br>
                        جمعية بذرة الخير و الأمل</p>
                </div>
                <div>
                    جمعية خيرية ذات طابع اجتماعي الهدف <br> الأساسي مساعدة المحتاج
                </div>
            </div>
        </div>
    </footer>
    <!--end footer-->
    
    <script src="./imq/aboutus.js">
        
        
    </script>
    </body>