<html>


<head>
    <link rel="stylesheet" href="events.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap" rel="stylesheet">



    <title>Document</title>
</head>

<body>
    <section class="header">
        <nav>

            <div class="topnav">
                <div class="logo">
                    <a href="home.html">
                        <h1>Association Graine D'espoir</h1><img src="pctr/logo.jpg"></a>
                </div>
                <div class="nav">
                    <a href="/" id="one">Home</a>
                    <a href="/aboutUs" id="two">Goals</a>
                    <a href="/joinUs" id="three">Contact us</a></div>
                <div class="dropdown">
                    <a href="#" class="dropbtn">more
                     <i class="fa fa-caret-down"></i></a>
                    </button>
                    <div class="dropdown-content">
                        <a href="/aboutUs">About Us</a>
                        <a href="/events">Events</a>
                        <a href="/joinUs">Join Us</a>
                    </div>
                </div>
                <a href="#"><button id="btn">Donate</button></a>

            </div>
        </nav>
        <div class="write">
            <h1>Some Recent Events</h1>
            <p>Become a part of <span style="color:rgb(44, 211, 136)">" Events "</span>that keep us
                <span style="color:rgb(44, 211, 136)">" motivated "</span>iging small but
                <h3>important<span style="color:rgb(44, 211, 136)">" change "</span>,every single day.</h3>
            </p>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="card">
                <img src="pctr/pic1.jpg">
                <div class="intro">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحدة 15</p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>

            <div class="card">
                <img src="pctr/pic2.jpg">
                <div class="intro">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
            <div class="card">
                <img src="pctr/pic3.jpg">
                <div class="intro">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="card2">
                <img src="pctr/pic4.jpg">
                <div class="intro2">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>

            <div class="card2">
                <img src="pctr/pic5.jpg">
                <div class="intro2">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
            <div class="card2">
                <img src="pctr/pic6.jpg">
                <div class="intro2">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="card3">
                <img src="pctr/pic1.jpg">
                <div class="intro3">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>

            <div class="card3">
                <img src="pctr/pic7.jpg">
                <div class="intro3">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
            <div class="card3">
                <img src="pctr/pic8.jpg">
                <div class="intro3">
                    <h1>حملة اطعام المحتاج</h1>
                    <p>تهدف جمعية دبي الخيرية من خلالها إطعام المساكين والفقراء عبر توفيرالوجبات الغذائية للمحتاجين وللأشخاص الذين يعانون من فقر وتعقيدات في الوصول إلى الطعام. تستهدف الجمعية تقديم 100 ألف وجبة بقيمة مليون ونصف درهم، لتكون قيمة الوجبة الواحدة
                        لإطعام مسكين 15 درهم سف تقديم 100 ألف وجبة بقيمة ، لتكون قيمة الوجبة لتكون قيمة الوجبة الواحد15 </p>
                    <h3>Totale : 20000 DA</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <span></span>
        <font></font>
        <div id="walo"></div>
        <article class="walo2"></article>

        <div class="foot">
            <div class="premier">
                <h3>Adress</h3>
                <p>Queens Bulvd, 11103,New York, USA</p>
            </div>
            <div class="deuxieme">
                <h3>Contact Us</h3>
                <a href="#"><img src="pctr/email.png" id="mail"></a>
                <p id="gmail">graine@gmail.com</p>
                <a href="#"><img src="pctr/tlf.png" id="tel"></a>
                <p id="tlf">0542762621</p>
            </div>
            <div class="troisieme">
                <h3>Follow Us</h3>
                <a href="#"><img src="pctr/instagram.png"></a>
                <a href="#"><img src="pctr/youtube.png" id="you"></a>
                <a href="#"><img src="pctr/facebook.png" id="fb"></a>
                <a href="#"><img src="pctr/tik-tok.png" id="tik"></a>
            </div>
            <div class="quatrieme">
                <h3>Navigation</h3>
                <p>Queens Bulvd, 11103,New York, USA</p>
            </div>
        </div>
        <div class="line"></div>
        <div class="last">
            <a href="#"><img src="pctr/logo.jpg"></a>
            <h1>Association Graine D’espoir جمعية بذرة الخير و الأمل</h1>
            <p>جمعية خيرية ذات طابع اجتماعي الهدف الأساسي مساعدة المحتاج</p>
        </div>
    </section>
</body>

</html>