<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css link-->
    <link rel="stylesheet" href="project.css">
    <!--normalize file-->
    <link rel="stylesheet" href="normalize.css">
    <!--font awesome-->
    <link rel="stylesheet" href="all.min.css">
    <!--google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&display=swap" rel="stylesheet">
    <!--google font link popins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
        <!--Title-->
    <title>Association Grand espoir</title>
</head>
<body>
<!--start header -->
<div class="images">
<header>
    <div class="container">
        <div class="image">
            <img src="pctr/logo.jpg" alt="">
        </div>
        <h1>Association Graine D'espoir</h1>
        <div class="click">

            <a href="/">Home</a>
            <a href="/aboutUs">Goals</a>
            <a href="/joinUs">contact</a>
            <a href="#" class="link-more">more</a>
            <button onclick="donate()">Donate</button>
            <!-- la partie li dji ta7tha 7ta div lzm tetsuprima (khelitha bach 3la jal style yeb9a smagem )  -->
            <span class="link-more" >more</span>
            </div>
            <span class="donate" href="">Donate</span>
        </div>
    </div>
    
</header>
<!--end  header -->
<!--start  text-section -->
    <div class="text-section">
        <h1>نزرع في الياس املا<br>
        كرمك سبب فرحتهم</h1>
        <div class="donate">
            <h3>Donate Now</h3>
            <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i>
        </div>
    </div>
<!--end  text-section -->
<!--start main event-->
    <div class="main-event">
        <div class="container">
            <div class="page">
                <span class="imge">
                    <img src="pctr/pic7.jpg" alt="">
                </span>
                <div class="text">
                    <h1>We invite you to join us <br>in this challenge <br>
                    "<span>Koffat Ramadan</span>"</h1>
                    <div class="two"></div>
                    <div class="besoin">
                        <div class="text">
                            <p>Donations : 10000 DA <br>
                            Besoin : 20000 DA</p>
                        </div>
                        <button>50%</button>
                    </div>
                    <div class="button">Donate Now <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
<!--end main event-->
<!-- start current event -->
<div class="current">
    <h1>current events</h1>
    <div class="boxes">
        <div class="box">
            <div class="img">
                <img src="pctr/pic5.jpg" alt="">*
            </div>
            <p>Lorem Ipsum Dolor <br>
                Sit Consectetur <br> Adipiscing Elit</p>
            <div class="donate">
                <h3>Donate Now</h3>
                <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="pctr/pic5.jpg" alt="">*
            </div>
            <p>Lorem Ipsum Dolor <br>
                Sit Consectetur <br> Adipiscing Elit</p>
            <div class="donate">
                <h3>Donate Now</h3>
                <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="pctr/pic5.jpg" alt="">*
            </div>
            <p>Lorem Ipsum Dolor <br>
                Sit Consectetur <br> Adipiscing Elit</p>
            <div class="donate">
                <h3>Donate Now</h3>
                <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i>
            </div>
        </div>
        <div class="box">
            <div class="img">
                <img src="pctr/pic5.jpg" alt="">*
            </div>
            <p>Lorem Ipsum Dolor <br>
                Sit Consectetur <br> Adipiscing Elit</p>
            <div class="donate">
                <h3>Donate Now</h3>
                <i class="fa fa-sharp fa-regular fa fa-arrow-right"></i>
            </div>
        </div>
        <i class=" favfa-solid fa fa-chevron-right moh"></i>
    </div>
</div>
<!-- end current event -->
<!--begin who we are -->
<div class="who">
    <div class="img2">

    </div>
    <div class="container">
        <div class="text">
            <h1>Who we are?</h1>
            <p>hese pages provide a wealth <br> of information for users and <br> are essential for keeping the <br> domestic website organized.</p>
            <a href="">read more<i class=" favfa-solid fa fa-chevron-right moh"></i></a>
        </div>
        <div class="img">
            <div class="img1">
            </div>
        </div>
    </div>
</div>
<!--end who we are -->





</div>
<script src="projet.js"></script>
</body>
</html>