* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',"Open Sans";
}
a{
    text-decoration: none;
    color: #3a4b9f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #D9D9D9;
}

ul {
    list-style: none;
}
.container {
    
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (max-width: 768px) {
    .container {
        width: 97%;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/*start header*/
header {
    background: linear-gradient(97.09deg, rgba(255, 255, 255, 0.4) 42.58%, rgba(255, 255, 255, 0.1) 56.36%);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        height: 100px;
        display: flex;
}
header .container {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #3A4B9F;
}
header .container .image {
}
header img {
    height: 80px;
    border-radius: 50%;
}
header .container {
    display: flex;
    gap: 50px;
}
header .container .click {
    display: flex;
    gap: 40px;
    align-items: center;
}
header .container .click span {
    cursor: pointer;
    position: relative;
}
header .container h1 {
    width: 451.57px;
    font-size: 20px;
    line-height: 30px;
}
header .container span {
}
header .donate {
    color: #FFFFFF;
    background: linear-gradient(to bottom, #3A4B9F 30.21%, #5e1e93 95%);
    padding: 7px 25px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px 0px rgba(69, 22, 110, 0.402);
}
header .none {
    display: none;
}
.images {
    background-image: url(./imq/pexels-ahmed-akacha-10629418.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.images::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}
@media (max-width: 992px) {
    header .container h1 {
        width: 250px;
        font-size: 15px;
    }
}
/*start responsive header*/
@media (max-width: 768px) {
    header .click span , header .donate,header h1{
        display: none;
    }
    header .container {
        justify-content: space-between;
        gap: 0;
    }
    header .none {
        display: block;
        color: black;
        font-size: 30px;
    }
}
/*end heaader*/
/*start text*/
.text {
    background-color: #8AB3D3;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .text {
        height: 220px;
    }
}

.text h1 {
    margin-top: 60px;
    font-size: 50px;
    color: #3A4B9F;
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 18px;
    }
}

.text h1 span {
    color: #622F89;
}

.text p {
    font-size: 22px;
    color: #3A4B9F;
    text-align: center;
    padding: 0 15px ;
}
@media (max-width: 768px) {
    .text p {
        font-size: 14px;
    }
    .text p br {
        display: none;
    }
}

/*end text*/
/*start footer */
footer {
    background-color: #8AB3D3;
    text-align: center;
    color: white;
}

footer .flex-one {
    display: flex;
    gap: 85px;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: normal;
}

@media (max-width: 768px) {
    footer .container {
        width: 95%;
    }

    footer .flex-one {
        flex-basis: 25%;
        flex-wrap: wrap;
        gap: 30px;
    }
}

footer .flex-one div h3 {
    margin: 13px 0;
}

footer .container hr {
    background-color: white;
    height: 2px;
}

footer .flex-two {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .flex-two .one {
    display: flex;
    gap: 5px;
    align-items: center;
}

footer .flex-two .one img {
    width: 80px;
    border-radius: 50%;
}

/*end footer */
/*start our effort*/
.our-eff .container h1 {
    text-align: center;
    font-size: 66px;
    color: #622F89;
    }
.our-eff .container .boxess {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.our-eff .container .boxess .box {
    background-color: white;
    width: 200px;
    height: 406px;
    text-align: center;
    border-radius: 20px;
    color: #3A4B9F;
    padding: 20px;
    box-shadow: 0px 0px 34px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
.our-eff .container .boxess .box h3 {
    font-size: 35px;
}
.our-eff .container .boxess .box p {
    font-size: 50px;
    font-weight: 900;
}
/*end our effort*/
/*start faq*/
.qas {
    margin-bottom: 20px;
}
.question  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: #3A4B9F;
    background-color: white;
    border-radius: 8px;
}
.reponse {
    background-color: white;
    border-radius: 8px;
    display: none;
}
.faq .container h1 {
    font-size: 60px;
    text-align: center;
    color: #622F89;
}
.faq .container .butt {
    transition: 0.4s;
}
.faq .container .reponse {
    color: rgb(58, 75, 159);
        padding: 5px 20px;
        margin-top: -10px;
}
/*end faq*/
/*start our gallery*/


.our-gall .container {
    display: flex;
}
@media (max-width: 768px) {
    .our-gall .container {
        flex-direction: column;
        justify-content: center;
    }
}
.our-gall .container .imgs .im {
    display: flex;
    gap: 31px;
    margin: 20px 0;
}

.our-gall .container .imgs .im img {
    width: 250px;
}
@media (max-width: 768px) {
    .our-gall .container .imgs .im img {
        width: 180px;
    }
}
.our-gall .container .imgs {
    position: relative;
    margin-top: 40px;
}
.our-gall .container .imgs::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: calc(100% + 30px);
    height: calc(100% + 8px);
    background-color: #8AB3D3;
    z-index: -1;
}
/*end our gallery*/

.active {
    display: block;
}
.our-gall .texto h2 {
    font-size: 40px;
    color: #3A4B9F;
    line-height: 60px;
}
.our-gall .texto h2 span {
    color: #1DC198;
}
.our-gall .texto p {
    color: #3A4B9F;
    padding: 0 10px;
    font-size: 29px;
    line-height: 44px;
}
.our-gall .texto button {
    background: #FFFCFC;
    border-radius: 10px;
    padding: 15px 20px;
    color: #1DC198;
    display: flex;
    gap: 10px;
    align-items: center;
    border-color: white;
    box-shadow: -6px 7px 16px 5px rgba(0, 0, 0, 0.49);
}
.our-gall .texto button i {
    color: white;
        background-color: #1DC198;
        border-radius: 50%;
        padding: 5px;
}
