.who {
    background-image: url("bleu.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
}

.def h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 66px;
    line-height: 99px;
    display: inline-flex;
    color: #3A4B9F;
    float: left;
    padding-top: 40px;
    padding-left: 50px;
}

.def p {
    font-family: 'Poppins';
    height: 30px;
    position: absolute;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    padding-top: 260px;
    float: left;
    padding-left: 56px;
    width: 600px;
    color: #FFFCFC;
}

.def a {
    position: absolute;
    width: 208.3px;
    left: 90px;
    top: 450px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #FFFCFC;
    text-decoration: none;
    border: 2px solid #5569AE;
    border-radius: 10px;
    background: linear-gradient(180deg, #5569AE 0%, #3A4B9F 99.97%, rgba(29, 193, 152, 0.1) 99.98%, rgba(29, 193, 152, 0.5) 99.99%);
    padding: 20px 49px;
    font-size: 30px;
    font-family: 'Poppins';
}

.def img {
    filter: invert(1);
    width: 40px;
    float: right;
    text-align: right;
    position: absolute;
    left: 75%;
    right: 20%;
    top: 30%;
    bottom: 48%;
}

#try {
    filter: invert(bleu);
    position: absolute;
    width: 450px;
    height: 400px;
    left: 810px;
    top: 20px;
}

#charity {
    position: absolute;
    width: 500px;
    height: 420px;
    left: 680px;
    top: 90px;
    padding-right: 90px;
    border-bottom-left-radius: 120px;
}

.volunteer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.354), rgba(119, 119, 133, 0.324)), url('volunteer2.jpg');
    position: absolute;
    background-size: cover;
    height: 700px;
    width: 1250px;
    top: 637px;
    z-index: -1;
}

.vol {
    position: absolute;
}

.vol h1 {
    position: relative;
    width: 655px;
    height: 90px;
    left: 310px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800px;
    font-size: 57px;
    line-height: 86px;
    display: flex;
    align-items: center;
    text-indent: 28px;
    padding-top: 10px;
    color: #FFFCFC;
}

.vol p {
    position: absolute;
    /*width: 700px;
    height: 100px;*/
    width: 700px;
    height: 130px;
    left: 280px;
    top: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500.01;
    font-size: 35px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #dbdadae4;
}

.box {
    left: 2px;
    position: relative;
    box-sizing: border-box;
    height: 40px;
}

#email {
    box-sizing: border-box;
    position: absolute;
    width: 470.16px;
    height: 93.61px;
    left: 300px;
    top: 230px;
    background: #FFFFFF;
    border: 3px solid rgba(66, 66, 66, 0.44);
    border-radius: 9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #868686;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hola {
    position: absolute;
    width: 300px;
    height: 80px;
    left: 450px;
    top: 220px;
    background: #1DC198;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    border-radius: 40px;
    color: #FFFFFF;
    border-color: #1DC198;
    border: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    padding-top: 15px;
    padding-left: 50px;
}

@media screen and (max-width:600px) {
    .def h1 {
        font-size: 220px;
        font-weight: 400;
        line-height: 99px;
        display: inline-flex;
        float: center;
        text-align: justify;
        display: flex;
    }
    .who {
        background-image: url("bleu.jpg");
        background-size: cover;
        position: relative;
        height: 400vh;
        width: 240vh;
    }
    .def p {
        height: 60px;
        font-size: 80px;
        line-height: 100px;
        display: flex;
        align-items: center;
        top: 1220px;
        text-align: center;
        padding-left: 56px;
        width: 1198px;
        left: 150px;
    }
    #try {
        width: 950px;
        height: 770px;
        left: 530px;
        top: 400px;
    }
    #charity {
        width: 1000px;
        height: 750px;
        left: 300px;
        top: 550px;
        padding-right: 90px;
        border-bottom-left-radius: 120px;
    }
    .def a {
        width: 400px;
        left: 500px;
        top: 1900px;
        font-weight: 70px;
        padding: 100px 90px;
        font-size: 70px;
        align-items: center;
        border: 5px solid #5569AE;
        border-radius: 100px;
        height: 20px;
    }
    .def img {
        width: 70px;
        float: right;
        text-align: right;
        position: absolute;
        left: 83%;
        right: 20%;
        top: 35%;
        bottom: 48%;
    }
    .volunteer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.354), rgba(119, 119, 133, 0.324)), url('volu3.jpg');
        height: 1200px;
        width: 1700px;
        top: 410vh;
        background-size: cover;
    }
    .vol {
        position: absolute;
    }
    .vol h1 {
        width: 1500px;
        height: 300px;
        left: 120px;
        font-size: 120px;
        display: flex;
        text-indent: 30px;
        padding-top: 10px;
        color: #FFFCFC;
        line-height: 86px;
        top: 5px;
    }
    .vol p {
        width: 1000px;
        height: 150px;
        left: 300px;
        top: 355px;
        font-size: 65px;
        line-height: 80px;
        display: flex;
        align-items: center;
        color: #dbdadae4;
    }
    .box {
        left: 90px;
        box-sizing: border-box;
    }
    #email {
        width: 600px;
        height: 100px;
        left: 300px;
        top: 230px;
        font-weight: 600;
        font-size: 50px;
        display: flex;
    }
    #submit {
        width: 300px;
        height: 100px;
        left: 930px;
        top: 230px;
        font-weight: 600;
        font-size: 60px;
        border-radius: 15px;
    }
}